body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #00080a;
    overflow-x: hidden;
}

.container {
    text-align: center;
    padding: 40px 20px;
}

h1 {
    font-size: 3rem;
    color: #edda05;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.2rem;
    color: #fefdfd;
    font-family: cursive;
    margin-bottom: 30px;
    line-height: 1.4;
}

.photo {
    width: 80%;
    max-width: 350px;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(254, 253, 253, 0.628);
    margin-bottom: 25px;
}

.cheers {
    font-size: 3.5rem;
    color: #eb0606;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: bounce 1.2s infinite;
    margin-bottom: 40px;
}

.funny {
    font-size: 1.1rem;
    color: #f9f7f7;
    font-family: cursive;
    max-width: 350px;
    margin: 0 auto;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

/* Confetti canvas */
#confetti-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
